img {
  max-height: 180px;
    border: 1px solid #FF0000;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
html {
  background-color: #001CFF;
}
a:link {
  color: rgb(0, 255, 13);
  border: 1px solid #001CFF;
  background-color: #00FFFF;
  padding: 1px;
  text-decoration: underline;
  box-shadow: 0 0 0 5px #FF0000, 0 0 0 5px #0000FF, 0 0 0 10px #00FFFF;
}
a:visited {
  color: rgb(255, 0, 0);
}
a:hover {
  text-decoration: none;
  box-shadow: 0 0 9px 10px #FF00FB;
}
.current {
  color: rgb(180, 180, 180)
}
a:active {
  color: rgb(255, 0, 200)
}
li {
  margin-bottom: 35px;
}
p {
  font-size: 15px;
}
p {
  font-style: italic;
}
p {
  background-color: #FF0000;
}
h1 {
  background-color: #FF0000;
}
h2 {
  background-color: #FF0000;
}